In [1]:
def my(): ##function defenition
    print("hello lets learn function")
my() ##function calling

hello lets learn function

In [2]:
def sub():
    a=int(input("enter number"))
    b=int(input("enter number"))
    
    c=a-b
    print("sub",c)
sub()

enter number5
enter number3
sub 2

In [18]:
def prime():
    n=int(input("ennter number"))
    for i in range(2,n):
        if n%i==0:
            print(n,"is not prime number")
            break
    else:
            print(n,"prime number")
prime()

ennter number16
16 is not prime number

In [3]:
def sqr():
    x=int(input("enter num"))
    y=x**2
    print(y)
sqr()

enter num2
4

In [9]:
def fact():
    num=int(input("enter num"))
    for i in range(1,num+1):
        if num%i==0:
            print(i)
fact()

enter num10
1
2
5
10

#### parameter

In [19]:
def mul(x,y): ##parameter
    z=x*y
    print(z)
    
a=int(input("enter the first number"))
b=int(input("enter scnd number"))
mul(a,b) ## argument

enter the first number7
enter scnd number8
56

### argument

In [1]:
def prime(n): ##parameter
    
    for i in range(2,n):
        if n%i==0:
            print(n,"is not prime number")
            break
    else:
            print(n,"prime number")
number=int(input("enter number"))
prime(number)## argument

enter number7
7 prime number

In [2]:
### function to print user details
def info(i,n,s):
    print("id:",i)
    print("name:",n)
    print("salary:",s)
info(89,"athulya",18000)

id: 89
name: athulya
salary: 18000

In [5]:
def info(i,n,s):
    print("id:",i)
    print("name:",n)
    print("salary:",s)
ei=int(input("enter id"))
ni=input("enter name")
si=int(input("enter salary"))
info(ei,ni,si)

enter id2
enter nameathu
enter salary18000
id: 2
name: athu
salary: 18000

#### global scope

In [1]:
v=100 ###globalscope
def myfun():
    print(v)
myfun()
print(v)

100
100

In [2]:
def myfun():
    v=12 ### local scope
    print(v)
myfun()
print(v)

12
100

In [3]:
def product(x,y):
    z=x*y
    return z
a=int(input("enter number"))
b=int(input("enter number"))
res=product(a,b)
print("product",res)

enter number4
enter number5
product 20

In [5]:
def add(x,y):
    z=x+y
    return z

def sub(x,y):
    z=x-y
    return z
def mul(x,y):
    z=x*y
    return z

def div(x,y):
    z=x/y
    return z
a=int(input("enter number"))
b=int(input("enter number"))
choice=int(input("select choice from the below menu\n1.addition\n2.subtraction\n3.multiplication\n.4division\n"))
if choice==1:
    addition=add(a,b)
    print(addition)
elif choice==2:
    subtraction=sub(a,b)
    print(subtraction)
    
elif choice==3:
    multiplication=mul(a,b)
    print(multiplication)
elif choice==4:
    division==div(a,b)
    print(division)
else:
    print("enter a valid choice")

enter number4
enter number2
select choice from the below menu
1.addition
2.subtraction
3.multiplication
.4division
1
6

In [1]:
def operation(x,y):
    return x+y,x-y,x*y,x/y
a=int(input("enter number"))
b=int(input("enter number"))
t=operation(a,b)
print("addition",t)
print("subtraction",t)
print("multiplication",t)
print("division",t)

enter number4
enter number5
addition (9, -1, 20, 0.8)
subtraction (9, -1, 20, 0.8)
multiplication (9, -1, 20, 0.8)
division (9, -1, 20, 0.8)

In [38]:
def fac():
    n=int(input("enter number"))
    num=1

    while n>1:
        num=num*n
        n=n-1
    
    return num


print(fac())

enter number5
120

### arg

In [16]:
def add(*args):
    return sum(args)

In [17]:
print(add(1,2,3))
print(add(11,12,13,14))
print(add(7,8,9,12,45,67,90))

6
50
238

In [19]:
l1=[1,2,3,56,78]
print(add(*l1))

140

In [23]:
def add(*args):
    return min(args)
l1=[1,2,3,56,78]

print(add(*l1))

1

In [21]:
def add(*args):
    return max(args)
l1=[1,2,3,56,78]
print(add(*l1))

78

In [38]:
def maximum(*args):
    return max(args)
l1=[2,54,32]
maximum(*l1)

54

In [24]:
def user(*args):
    print(args)
    
user("shiv",12,6788,"hr","assistace manager")

('shiv', 12, 6788, 'hr', 'assistace manager')

In [25]:
user("divya",6788)

('divya', 6788)

### kwargs

In [36]:
def user(**kwargs):
    for key,val in kwargs.items():
        print(key,val)
user(name="shiv",sno=12,salary=45000)

name shiv
sno 12
salary 45000

In [28]:
def my_function(fname):
    print("the first name is"+fname)
my_function("john")

the first name isjohn

### lambda

####  A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

In [1]:
add=lambda a:a+50 ###lamda arguments:expresion
print(add(6))

56

In [2]:
add=lambda a,b:a+b
print(add(67,89))

156

In [3]:
r=(lambda *args:max(args))
r(10,20),r(45,56,67),r(8,9,6,7,4)

(20, 67, 9)

In [4]:
r=(lambda *args:max(args))
r(10,20)

20

In [7]:
a=(lambda *args:min(args))
a(10,20),a(1,2,3)

(10, 1)

In [8]:
res=(lambda **kwargs:min(kwargs.values()))
res(a=10,b=20,c=8),res(a=12,b=23,c=45,d=89)

(8, 12)

### arguments

#### positional arguments

In [9]:
def func(a,b,c):
    print(a,b,c)
func(1,2,3)

1 2 3

In [1]:
def swap(x,y): ## swap of 2 number using positional arguments
    z=x
    x=y
    y=z
    print(x,y)
swap(5,10)

10 5

In [5]:
def swap(a,b):
    a=a+b
    b=a-b
    a=a-b
    print(a,b)
swap(5,10)

10 5

#### keyword argument

In [10]:
def func(a,b,c):
    print(a,b,c)
func(a=1,c=2,b=3)

1 3 2

In [6]:
def swap(x,y): ## swap of 2 number using keyword argument
    x=x*y
    y=x//y
    x=x//y
    print(x,y)
swap(x=5,y=10)

10 5

#### variable positional arguments

In [7]:
def minimum(*n):
    if n:
        mn=n[0]
        for value in n[1:]:
            if value<mn:
                mn=value
        print(mn)
minimum(1,3,-7,9)
minimum()

-7

In [8]:
def maximum(*n):
    if n:
        mn=n[0]
        for value in n[1:]:
            if value>mn:
                mn=value
        print(mn)
maximum(1,3,-7,9)
maximum()

9

#### variable keyword  argument

In [11]:
def func(**kwargs):
    print(kwargs)
    print(type(kwargs))
func(a=1,b=42)
func(**{"a":1,"b":42})
func(**dict(a=1,b=42))

{'a': 1, 'b': 42}
<class 'dict'>
{'a': 1, 'b': 42}
<class 'dict'>
{'a': 1, 'b': 42}
<class 'dict'>

#### keyword only argument

In [12]:
def kwo(*a,c):## a is args thats why can pass multiple values
    print(a,c)
kwo(1,2,3,c=7)
kwo(c=7)
kwo(1,2)## here not passing value for the c thats why error showing here

(1, 2, 3) 7
() 7

TypeError: kwo() missing 1 required keyword-only argument: 'c'

### default parameter

In [1]:
def my_function(country="norway"):
    print("i am from"+country)
my_function("sweedon")
my_function("india")
my_function()
my_function("brazil")

i am fromsweedon
i am fromindia
i am fromnorway
i am frombrazil

In [2]:
def factorial(n=5):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    print(fact)

In [3]:
factorial()

120

In [4]:
factorial(7)

5040

In [5]:
def table(n=5):
    for i in range(1,11):
        print(n,"*",i,"=",n*i)
table()

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [6]:
table(6)

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [9]:
def fibi(n=5):
    n1,n2=0,1
    count=0
    while count<n:
        print(n1)
        nth=n1+n2
        n1=n2
        n2=nth
        count=count+1
fibi(10)

0
1
1
2
3
5
8
13
21
34

In [10]:
fibi()

0
1
1
2
3

In [11]:
def reversed(num=345):
    reverse=0
    while num!=0:
        dig=num%10
        reverse=reverse*10+dig
        num//=10
    print(reverse)
reversed(654)
reversed()

456
543

### return multiple values in function

In [8]:
def fun(a,b):
    x=a+b
    y=a*b
    return(x,y)
fun(20,7)

(27, 140)

### filter

#### it is used to filter the iterable/sequence as per the conditions.
filter function filters the original iterable and passes the items that returns true for the function provided to filter.
it is normally used with lambda function to filter list,tuple or sets.
filter() method takes two parameters:
function-function tests if elements of an iterable returns true or false.
iterable - sequence which needs to be filtered ,could be sets,lists ,tuples or any iterators
filter(function,iterable)

In [2]:
list1=[1,2,3,4,5,6,7,8]
def odd(n):
    if n%2==1:
        return True
    else:
        return False

In [3]:
a=filter(odd,list1)
a

In [4]:
print(a)

<filter object at 0x0000012C0552D2B0>

In [5]:
result=list(filter(odd,list1))
result

[1, 3, 5, 7]

### map

##### the map() function applies a given function to each item of an iterable (list,tuple) and returns a list to the results.
map() function takes two parametes:
function - the function to execute for each item of given iterable
iterable - it is a iterable which is to be mapped.
returns: returns a list of the results after applying the given function to each item of a given iterable(list,tuple)

In [6]:
list1=[3,5,7,9,11]
def twice(n):
    return n*n
d=list(map(twice,list1))
d

[9, 25, 49, 81, 121]

In [8]:
list1=3,5,7,9,11
def twice(n):
    return n*2
d=list(map(twice,list1))
d

[6, 10, 14, 18, 22]

In [9]:
type(list1)

tuple

In [10]:
type(d)

list

### reduce

In [2]:
from functools import reduce
list1=[2,5,6,7]
def add(a,b):
    return a+b

s=reduce(add,list1)
s

20