### program to print hello python in 10 time

##### using for loop

In [1]:
for i in range(1,11): ## range 1,11 bz 1 include 11 excude only up to 10 consider
    print("hello python")

hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python

In [2]:
for i in range(10): ##insted of 2 values in range function can use only one here 10 so 0 to 9 consider
    print("hello world")

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

##### using while loop

In [3]:
i=1
while i<=10:
    print("hello world")
    i=i+1

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

### print number from 1 to 10

#### using for loop

In [4]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

#### using while loop

In [5]:
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

### program to print sum of first 10 numbers

#### using for loop

In [6]:
sum=0
for i in range(1,11):
    sum=sum+i
    print(sum)

1
3
6
10
15
21
28
36
45
55

In [7]:
sum=0 ##only the answer will print if print same line of for
for i in range(1,11):
    sum=sum+i
print(sum)

55

#### using while loop

In [8]:
i=1
sum=0
while i<=10:
    sum=sum+i
    print(sum)
    i=i+1

1
3
6
10
15
21
28
36
45
55

### print n number entered by user

#### using for loop

In [9]:
n=int(input("enter number"))
for i in range(n+1):
    print(i)

enter number5
0
1
2
3
4
5

#### using while loop

In [10]:
n=int(input("enter num"))
i=1
while i<=n:
    print(i)
    i=i+1

enter num10
1
2
3
4
5
6
7
8
9
10

### program to print sum of n number

#### using for loop

In [20]:
sum=0
n=int(input("enter number"))
for i in range(1,n+1):
    sum=sum+i
    print(sum)

enter number5
1
3
6
10
15

#### using while loop

In [14]:
n=int(input("enter number"))
sum=0
i=1
while i<=n:
    sum=sum+i
    print(sum)
    i=i+1

enter number5
1
3
6
10
15

### program to print table of number

#### using for loop

In [15]:
n=int(input("number"))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

##### while loop

In [17]:
n=int(input("enter num"))
i=1
while i<=10:
    print(n,"*",i,"=",n*i)
    i=i+1

enter num5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

### factorial of a number

#### for loop

In [23]:
n=int(input("num"))
fact=1
for i in range(1,n+1):
    fact=fact*i
    print(fact)

num5
1
2
6
24
120

#### while loop

In [24]:
n=int(input("enter number"))
fact=1
i=1
while i<=n:
    fact=fact*i
    print(fact)
    i=i+1

enter number5
1
2
6
24
120

### program to print even number in between 1 to 100

In [25]:
for i in range(1,101):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

### program to print odd number inbetween 1 to 100

In [26]:
for i in range(1,101):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99