In [1]:
abc=10
if(abc==10):
    print("hi how are you?")
    print("hello world")

hi how are you?
hello world

In [2]:
a=7
b=6
if(a==b):
    print("both are equal")
else:
    print("good bye")

good bye

In [3]:
a=6
b=6
if(a==b):
    print("both are equal")
else:
    print("good bye")

both are equal

### program to check the given year is leap year or not

In [4]:
year=int(input("enter year:"))
if(year%4==0 and year%100!=0)or(year%400==0):
    print(year,"is a leapyear")
else:
    print(year,"is not a leap year")

enter year:2000
2000 is a leapyear

### program to find the given num is positive negative or zero

In [ ]:
num=int(input("enter number:"))
if num>0:
    print(num ,"the given number is positive")
elif n<0:
    print(num,"the given number is negative")
else:
    print(num,"the given number is zero")

### if else stmnt

In [7]:
var=100
if var:
    print("it is true")
    print(var)
else:
    print("it is false")
    print(var)

it is true
100

In [8]:
var=100
if var==80:
    print("it is true")
    print(var)
else:
    print("it is false")
    print(var)

it is false
100

In [11]:
d={"vehicle":"car","model":"hackey"}
key=input("enter key to be checked")
if key in d.keys():
    print("key value is:")
    print(d[key])
else:
    print("key is not present")

enter key to be checked17
key is not present

### write a program to introduce userself

In [1]:
name=input("enter name")
age=int(input("enter the age"))
quali=input("enter qualification")
loc=input("enter your location")
hobbi=input("enter your hobbies")
print(name,"is my name","and am",age,"year old","am a",quali,"graduate",loc,"is my state",hobbi, "my hobby")

enter nameathulya
enter the age24
enter qualificationb.tech
enter your locationkerala
enter your hobbiessiging
athulya is my name and am 24 year old am a b.tech graduate kerala is my state siging my hobby

### adiition

In [1]:
num1=int(input("enter number1"))
num2=int(input("enter number2"))
sum=num1+num2
print(sum)

enter number15
enter number25
10

### subtraction

In [1]:
num1=int(input("enter number1"))
num2=int(input("enter number2"))
diff=num1-num2
print(diff)

enter number110
enter number25
5

### multiplication

In [2]:
num1=int(input("enter number1"))
num2=int(input("enter number2"))
mul=num1*num2
print(mul)

enter number15
enter number25
25

### division

In [3]:
num1=int(input("enter number1"))
num2=int(input("enter number2"))
division=num1/num2
print(division)

enter number110
enter number22
5.0

### modulus

In [4]:
num1=int(input("enter number1"))
num2=int(input("enter number2"))
modulus=num1%num2
print(modulus)

enter number115
enter number23
0

### exponent

In [6]:
num1=int(input("enter the number"))
expo=num1**2
print(expo)

enter the number5
25

### program to swap two numbers

In [1]:
x=int(input("enter number"))
y=int(input("enter number"))
temp=x
x=y
y=temp
print(x,y)

enter number10
enter number5
5 10

### swap 2 number without using 3rd variable

In [2]:
x=int(input("enter number"))
y=int(input("enter second number"))
x=x+y
y=x-y
x=x-y
print(x,y)

enter number10
enter second number5
5 10

### program to find simple interest

In [1]:
p=int(input("enter the number"))
r=int(input("enter the number"))
t=int(input("enter number"))
simple=(p*r*t)/100
print(simple)

enter the number56
enter the number12
enter number40
268.8

### average of 5 number with user input

In [3]:
num1=int(input("enter first number"))
num2=int(input("enter second number"))
num3=int(input("enter third number"))
num4=int(input("enter fourth number"))
num5=int(input("enter fifth number"))
sum=num1+num2+num3+num4+num5
average=sum/5
print(average)

enter first number1
enter second number2
enter third number3
enter fourth number4
enter fifth number5
3.0

### area of rectangle

In [1]:
lenth=int(input("enter length"))
width=int(input("enter the width"))
area=lenth*width
print("area of rectangle is",area)

enter length4
enter the width2
area of rectangle is 8

### area of square

In [2]:
side=int(input("enter the side"))
area=side*side
print('area of square is',area)

enter the side3
area of square is 9

### area of triangle

In [2]:
base=int(input("enter the base"))
height=int(input("enter the height"))
area=(base*height)/2
print(area)

enter the base3
enter the height2
3.0

### area of circle

In [9]:
radius=int(input("enter the radius"))
area=3.14*radius*radius
print("area of circle is",area)

enter the radius5
area of circle is 78.5

#### write pgm to calculate the net salary of an employee whose base salary send by user DA is 5%HRA is 7% of base sary and pf are 3% of basic salary

In [5]:
basesalary=int(input("enter salary"))
da=basesalary*0.05
hra=basesalary*0.07
pf=basesalary*0.03
netsalary=da+hra+pf
print(netsalary)

enter salary4500
675.0

### progrm to find power of a number

In [10]:
num=int(input("enter number"))
power=num**2
print(power)

enter number5
25

### program to get the python version you are using

In [12]:
from platform import python_version
print(python_version())

3.9.12