fruit= ("apple","banana","cherry")
print(fruit)

In [5]:
print(len(fruit))#find lenghth of tuple

3

In [9]:
fruit= ("apple","banana","cherry")#no.of an item use count
print(fruit.count("apple"))

1

In [10]:
type(fruit)#type

tuple

In [11]:
print(fruit[1])#item in index 1

banana

print(len(fruit))

In [13]:
print(fruit.index("apple"))#what is the item in index 0

0

### creating a tuple with one elemnt

In [1]:
a=(33)#it is considered as integer
a

33

In [2]:
type(a)

int

In [3]:
a=(33,)# one number end with coma after single number it is tuple
type(a)

tuple

## tuple without paranthesis

In [4]:
t="divya",89,45.7,90#tuple without paranthesis known as tuple packing
t

('divya', 89, 45.7, 90)

In [5]:
type(t)

tuple

### creating tuple

In [7]:
t=(934,"athu",67,7+1j)# tuple using parathesis
t

(934, 'athu', 67, (7+1j))

In [8]:
type(t)

tuple

In [9]:
t=934,"athu",67,7+1j,#same tuple without paranthesis use coma
type(t)

tuple

### tuple using constuctor

In [10]:
t=tuple(("athu",45,67,"anandh"))
t

('athu', 45, 67, 'anandh')

In [11]:
type(t)

tuple

In [12]:
t[0]#0 th position item

'athu'

In [13]:
t[1]

45

In [14]:
del t[0]# cant delete any item from tuple

TypeError: 'tuple' object doesn't support item deletion

In [15]:
t[0]="teena"## we cant add any elemnt in tuple it is immutable

TypeError: 'tuple' object does not support item assignment

In [16]:
len(t)

4

In [17]:
del t ## we cant delete a tuple,it is immutable 
t

NameError: name 't' is not defined

### convert tuple in to list

In [18]:
t=(23,56.8,"athulya","anu")
x=list(t)
print(x)

[23, 56.8, 'athulya', 'anu']

In [19]:
type(x)

list

In [20]:
t[0]=90## we cant assign value to tuple

TypeError: 'tuple' object does not support item assignment

In [22]:
x[0]=90## x is that we converted tuple to list so we can make changes
x

[90, 56.8, 'athulya', 'anu']

In [23]:
t=tuple(x)## again converting the list tu tuple
t

(90, 56.8, 'athulya', 'anu')

### loop through a tuple

In [24]:
t=(78,"athulya",45.8,78,"adhi")
for i in t:
    print(i)

78
athulya
45.8
78
adhi

### count element of tuple

In [25]:
t.count(78)

2

In [38]:
s=(7,)## repeatation of tuple
re=(s*5)
re

(7, 7, 7, 7, 7)

In [39]:
s=(2,6,7,8,8,9,)#max tuple
max(s)

9

In [40]:
min(s)#min of tuple

2

In [41]:
len(s)#legth of tuple

6

In [42]:
s=(2,6,7,8,8,9,)##concatination
r=(1,2,)
p=s+r
p

(2, 6, 7, 8, 8, 9, 1, 2)

In [43]:
m=("athulya","achu",1,34.6,89)
my=[i for i in m]
my

['athulya', 'achu', 1, 34.6, 89]

In [46]:
m=1,2,3,4,5,5,3,
my=[i for i in m]
my

[1, 2, 3, 4, 5, 5, 3]

### converting sequence in to tuple

In [1]:
t="learn python"
t1=tuple(t)
t1

('l', 'e', 'a', 'r', 'n', ' ', 'p', 'y', 't', 'h', 'o', 'n')

In [2]:
type(t1)

tuple

### index position

In [3]:
t=(56,"athu",67.9,"anandhu")
t.index("athu")

1

## sorting tuple

In [4]:
t=(45,67,89,90,11)
sorted(t)

[11, 45, 67, 89, 90]

In [5]:
t ## after sorting there will be no change in the initial one

(45, 67, 89, 90, 11)

In [6]:
f=("athu","deva","zeba","rinky")
sorted(f)

['athu', 'deva', 'rinky', 'zeba']

In [7]:
sorted(t,reverse=True)

[90, 89, 67, 45, 11]

In [8]:
type(sorted(t))

list

In [9]:
t.sort()
## tuple not support sort() it will suport only sorted

AttributeError: 'tuple' object has no attribute 'sort'

In [10]:
t=(56,67,89,("athu","anandhu"),90)
t

(56, 67, 89, ('athu', 'anandhu'), 90)

In [11]:
t[3]

('athu', 'anandhu')

In [12]:
t[3][0]

'athu'

In [13]:
t[3][1]

'anandhu'

In [14]:
t.append(45)## we cant make any change so we cant add delete etc

AttributeError: 'tuple' object has no attribute 'append'

In [15]:
dir(t)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']