a={1,2,3}
type(a)

In [2]:
print(a)

{1, 2, 3}

In [3]:
a={1,2,3}#unorderd
a=set("athulya")
print(a)

{'t', 'y', 'a', 'l', 'u', 'h'}

In [4]:
a={1,2,3,3,4,1}## duplicate value not allowed
print(a)

{1, 2, 3, 4}

In [5]:
name={"athulya","anandhu","appu"}
for x in name:
    print(x)

athulya
appu
anandhu

In [6]:
name={"athulya","anandhu","appu"}
len(name)

3

In [7]:
name.add("akhil")
name

{'akhil', 'anandhu', 'appu', 'athulya'}

In [8]:
name.update(["appu","ammu"])
name

{'akhil', 'ammu', 'anandhu', 'appu', 'athulya'}

In [9]:
name={"athulya","anandhu","appu","ammu"}#remove method
name.remove("ammu")
name

{'anandhu', 'appu', 'athulya'}

In [10]:
name={"athulya","anandhu","appu","ammu"}#pop metrod
name.pop()
name

{'ammu', 'anandhu', 'appu'}

In [14]:
name={"athulya","anandhu","appu","ammu"}
number={1,2,3}
group=name.union(number)
group

{1, 2, 3, 'ammu', 'anandhu', 'appu', 'athulya'}

In [15]:
name={1,2,"athulya","anandhu","appu","ammu"}
number={1,2,3}
group=name.intersection(number)
group

{1, 2}

In [1]:
set1={1,2,3}
set2={1,4,5,6}
set3=set1.difference(set2)
print(set3)

{2, 3}

In [1]:
s={11,12,13,14,15}
s

{11, 12, 13, 14, 15}

In [2]:
type(s)

set

In [3]:
len(s)

5

In [4]:
s={45,89,21,90,66}## set is unorderd so it will reflect like asending order
s

{21, 45, 66, 89, 90}

In [ ]:
s1={45,56,78,45,45}##set not consider duplicate item so 45 only came onces remaining two will eliminated
s1

### empty set

s3=set()
s3

### set using constructoe

In [8]:
s=set((1,2,3,4,45,56))##when crat a set using constructor it will provide same as set
s

{1, 2, 3, 4, 45, 56}

In [10]:
set1={1,2,3,4}##membership function
1 in set1

True

In [11]:
set1={1,2,3,4}##add a single element
set1.add(5)
set1

{1, 2, 3, 4, 5}

In [18]:
s={1,3,2,5}##loop
for x in s:
    print(x)

1
2
3
5

In [19]:
set1={1,2,3,4}##set not allow item asignment
set1[2]=56
set1

TypeError: 'set' object does not support item assignment

#### add multiple element

In [23]:
s3={1,2,34,5}
s3

{1, 2, 5, 34}

In [24]:
s3.update([34,56])
s3

{1, 2, 5, 34, 56}

### add one set to other

In [25]:
s3={1,2,34,5}
s4={44,56,78,89}
s3.update(s4)
s3

{1, 2, 5, 34, 44, 56, 78, 89}

### remove

In [27]:
s3={1,2,34,5}
s3.remove(1)
s3

{2, 5, 34}

In [28]:
s3.remove(45)##here is no such elemnt 45 so it produce error
s3

KeyError: 45

In [29]:
s3={1,2,34,5}##discard same as remove but diff is that if particular elemnt not there it not shows error just execute it
s3.discard(6)
s3

{1, 2, 5, 34}

In [30]:
s3={1,2,34,5}##pop is normaly delete last one but set not ordered so it remove initial index
s3.pop()

1

In [31]:
s3.pop()

2

In [33]:
s3.clear()#clear used to clear entire set
s3

set()

In [34]:
del s3##it show error bz we clear s3
s3

NameError: name 's3' is not defined

s3={1,2,3}##delete the set
del s3

## copy

In [38]:
s={3,4,5,6}
s

{3, 4, 5, 6}

In [39]:
s1=s.copy()
s1

{3, 4, 5, 6}

In [40]:
id(s)

1774416998464

In [41]:
id(s1)

1774417001600

### set operation

#### union,intersection,update

In [ ]:
s={1,2,3}
s1={4,5,6}
s2={12,34}

In [43]:
s

{3, 4, 5, 6}

In [44]:
s1

{3, 4, 5, 6}

In [45]:
s2

{4, 5, 6}

In [51]:
s | s1

{3, 4, 5, 6}

In [47]:
a={1,2,3}
b={4,5,6}

In [48]:
a & b##intersection

set()

In [49]:
a={1,2,3}
b={4,5,6,1}

In [50]:
a & b

{1}

In [52]:
a={1,2,3}
b={4,5,6}

In [53]:
a | b##union

{1, 2, 3, 4, 5, 6}

In [54]:
a={1,2,3}
b={4,5,6}

In [55]:
a-b##difference

{1, 2, 3}

In [56]:
x={1,2,3,4,5}
y={4,5,6,7,8}

In [57]:
x-y

{1, 2, 3}

x={1,2,3,4,5}
y={4,5,6,7,8}## diference

In [61]:
y.difference(x)

{6, 7, 8}

### symetric diff

In [62]:
i={1,2,3,4,5}##symetric dif provide new set that not contain in both set here 4,5 include in both set so remaining will print
j={4,5,6,7,8}

In [63]:
i ^ j

{1, 2, 3, 6, 7, 8}

In [65]:
i.symmetric_difference(j)

{1, 2, 3, 6, 7, 8}

In [66]:
i

{1, 2, 3, 4, 5}

In [67]:
j

{4, 5, 6, 7, 8}

### issubset

In [1]:
i={1,2,3,4}
j={5,6,7,8}
x=i.issubset(j)
x

False

In [2]:
i={1,2,3,4}
j={1,2,3,4,5,6,7,8}
x=i.issubset(j)
x

True

### is disjoint

In [3]:
i={1,2,3,4,5}## is disjoint is return true if none of the elemnt in both set otherwise false
j={4,5,6,7,8}
x=i.isdisjoint(j)
x

False

In [4]:
i={1,2,3,4}
j={5,6,7,8}
x=i.isdisjoint(j)
x

True

In [50]:
type(i)

set

### issuperset

In [ ]:
###it return true if all item in the specified set exist in the original set

In [5]:
i={1,2,3,4,5,6,7,8}
j={6,7,8}
x=i.issuperset(j)
x

True

In [9]:
i={1,2,3,4,5,6,7,8}
j={6,7,8}
x=j.issuperset(i)
x

False

In [8]:
i={1,2,3,4} ##superset need to include every elemnt in the subset
j={1,2,3,4,5,6,7,8}
x=i.issuperset(j)
x

False

### frozenset

In [10]:
s={1,2,3,4,5}##making a frozen set,normalset exist use frozensetfunction
f=frozenset(s)
type(f)

frozenset

In [11]:
type(s)##s is set

set

In [12]:
type(f)##whwn we convert it with frozen() it is frozenset

frozenset

In [13]:
f.add(12)##cant add elemnt it is immutable

AttributeError: 'frozenset' object has no attribute 'add'

In [14]:
f[1]##we cant take index in frozen set not orderdset

TypeError: 'frozenset' object is not subscriptable

In [24]:
f=frozenset({"divya",2,3,4,5,6+8j})###frozenset unorderd so order may change from input order
f

frozenset({(6+8j), 2, 3, 4, 5, 'divya'})

### operations

In [16]:
s={1,2,3,4,5}
f=frozenset(s)
type(f)

frozenset

In [17]:
f.remove(1)
f

AttributeError: 'frozenset' object has no attribute 'remove'

In [18]:
f.add(6)

AttributeError: 'frozenset' object has no attribute 'add'

In [19]:
f.pop()
f

AttributeError: 'frozenset' object has no attribute 'pop'

In [20]:
f.pop(5)
f

AttributeError: 'frozenset' object has no attribute 'pop'

In [26]:
f.clear(3)
f

AttributeError: 'frozenset' object has no attribute 'clear'

In [27]:
del f

In [28]:
f

NameError: name 'f' is not defined

In [38]:
i={1,2,3,4}
j={3,4,5,6}
i1=frozenset(i)
j1=frozenset(j)
i1
j1

frozenset({3, 4, 5, 6})

In [39]:
type(i1)

frozenset

In [40]:
type(j1)

frozenset

In [41]:
i1

frozenset({1, 2, 3, 4})

In [42]:
j1

frozenset({3, 4, 5, 6})

In [43]:
i1.union(j1)##union

frozenset({1, 2, 3, 4, 5, 6})

In [44]:
i1.intersection(j1)##intersection

frozenset({3, 4})

In [45]:
i1.difference(j1)##diference

frozenset({1, 2})

In [46]:
i1.symmetric_difference(j1)##symmetric diference

frozenset({1, 2, 5, 6})

In [47]:
d=i1.copy()##copy
d

frozenset({1, 2, 3, 4})

In [48]:
id(i1)##in every othr after copy the original and copied have diferent id but in frozenset id will became same id

2245144038976

In [49]:
id(d)##both id are same

2245144038976