#### import libraries

In [2]:
import pandas as pd
import numpy as np
import warnings ##some warning will come it will ignore the warning
warnings.filterwarnings("ignore")

#### check pandas version

In [3]:
print(pd.__version__) ##use to find version of pandas

1.4.2

### series

#### create empty series

In [5]:
a=pd.Series()
a

Series([], dtype: float64)

### create series from numpy array

In [6]:
a=np.array([11,12,13,4,5,61,71])
v=pd.Series(a)
v

0    11
1    12
2    13
3     4
4     5
5    61
6    71
dtype: int32

In [7]:
a

array([11, 12, 13,  4,  5, 61, 71])

In [8]:
type(a)

numpy.ndarray

In [9]:
type(v)

pandas.core.series.Series

#### create series from list

In [10]:
s=pd.Series([1,2,3],index=["a","b","c"])
s

a    1
b    2
c    3
dtype: int64

#### modifying index

In [13]:
v

0    11
1    12
2    13
3     4
4     5
5    61
6    71
dtype: int32

In [16]:
v.index=['a','b','c','d','e','f','g']
v

a    11
b    12
c    13
d     4
e     5
f    61
g    71
dtype: int32

#### create series using random and range function

In [12]:
v1=np.random.random(12) ##randamly printing 12 number
v1

array([0.97091202, 0.6886388 , 0.87820918, 0.4399958 , 0.27396056,
       0.46775804, 0.05606697, 0.90470429, 0.04103583, 0.93619079,
       0.52756212, 0.87638449])

In [20]:
v2=np.arange(2,14)
v2

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13])

In [22]:
s1=pd.Series(v1,v2)
s1

2     0.970912
3     0.688639
4     0.878209
5     0.439996
6     0.273961
7     0.467758
8     0.056067
9     0.904704
10    0.041036
11    0.936191
12    0.527562
13    0.876384
dtype: float64

In [23]:
d={'a':10,'b':20,'c':30,'d':40}
s1=pd.Series(d) ##first one is index other is value
s1

a    10
b    20
c    30
d    40
dtype: int64

### create series from scalar means only from one data

In [24]:
pd.Series(34,index=[10,11,12,13])

10    34
11    34
12    34
13    34
dtype: int64

In [25]:
pd.Series(45)

0    45
dtype: int64

In [2]:
import pandas as pd
import numpy as np
import warnings ##some warning will come it will ignore the warning
warnings.filterwarnings("ignore")

### series object attribute

In [4]:
a=np.array([10,22,31,42,55,36,47])
v=pd.Series(a,index=["a","b","c","d","e","f","g"])
v

a    10
b    22
c    31
d    42
e    55
f    36
g    47
dtype: int32

#### data type of series

##### return the data type of series

In [5]:
v.dtype

dtype('int32')

In [9]:
v.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g'], dtype='object')

### shape

In [11]:
v.shape

(7,)

### size of series

In [6]:
v.size

7

#### number of dimension

In [7]:
v.ndim ## it is one dimention

1

### number of bytes

In [10]:
v.nbytes ### number of element with 4(i elemnt is 4 bytes)

28

### checking whether null is present or not

In [12]:
v.empty

False

#### to print series values

In [13]:
v.values

array([10, 22, 31, 42, 55, 36, 47])

### series function

#### value_counts()

In [14]:
s=pd.Series([1,2,1,3,3,4,2,5]) ### it will print value according to index value
s

0    1
1    2
2    1
3    3
4    3
5    4
6    2
7    5
dtype: int64

In [15]:
s.value_counts() ### how many time each value is repeating

1    2
2    2
3    2
4    1
5    1
dtype: int64

### append series

In [16]:
d={"a":10,"b":20,"c":30,"d":40}
s1=pd.Series(d)
s1

a    10
b    20
c    30
d    40
dtype: int64

In [17]:
s1

a    10
b    20
c    30
d    40
dtype: int64

In [19]:
s2=s1.copy() ## copy the content of one series to other but id is different
s2

a    10
b    20
c    30
d    40
dtype: int64

In [20]:
d={"e":50,"f":60,"g":70,"h":80}
s3=pd.Series(d)
s3

e    50
f    60
g    70
h    80
dtype: int64

In [21]:
s4=s2.append(s3)
s4

a    10
b    20
c    30
d    40
e    50
f    60
g    70
h    80
dtype: int64

### operation on series

#### addition

In [22]:
s1

a    10
b    20
c    30
d    40
dtype: int64

In [23]:
s2

a    10
b    20
c    30
d    40
dtype: int64

In [24]:
s1.add(s2)

a    20
b    40
c    60
d    80
dtype: int64

### creating series and perform operation

In [27]:
x=np.array([10,20,30,40])
y=np.array([1,2,3,4])
s1=pd.Series(x)
s2=pd.Series(y)
s1,s2

(0    10
 1    20
 2    30
 3    40
 dtype: int32,
 0    1
 1    2
 2    3
 3    4
 dtype: int32)

### add

In [28]:
### addition of two series
s1=s1.add(s2)

In [29]:
s1

0    11
1    22
2    33
3    44
dtype: int32

### subtraction

In [30]:
### subtraction of 2 series
s1.subtract(s2)

0    10
1    20
2    30
3    40
dtype: int32

In [32]:
s1.sub(s2) ## sub also we can use for subtraction

0    10
1    20
2    30
3    40
dtype: int32

### multiplication

In [31]:
## multiplication of 2 series
s1.mul(s2)

0     11
1     44
2     99
3    176
dtype: int32

### division

In [33]:
### division of 2 series 
s1.divide(s2)

0    11.0
1    11.0
2    11.0
3    11.0
dtype: float64

In [34]:
### division of 2 series
s1.div(s2)

0    11.0
1    11.0
2    11.0
3    11.0
dtype: float64

### maximum in series

In [35]:
### maximum number in a series
s1.max()

44

### minimum in series

In [36]:
s1.min()

11

### average of series

In [37]:
### average
s1.mean()

27.5

### median

In [38]:
s1.median()

27.5

### standard deviation

In [39]:
s1.std()

14.200938936093861

### adding a value in each elemnt in sries

In [40]:
s1.add(8) ### every elemnt will add value 8

0    19
1    30
2    41
3    52
dtype: int32

### series comparison

In [41]:
s1

0    11
1    22
2    33
3    44
dtype: int32

In [42]:
s2

0    1
1    2
2    3
3    4
dtype: int32

In [43]:
s1.equals(s2)

False

### data frames

In [ ]:
used in data structure of pandas and work with two dimentional array (colom and )
std way to store data(ow index coloum index)

#### create an empty data frame

In [44]:
a=pd.DataFrame()
print(a)

Empty DataFrame
Columns: []
Index: []

### create dataframe from list

In [46]:
l=["divya","karan","jyothi","shika"]
d=pd.DataFrame(l)
d

        0
0   divya
1   karan
2  jyothi
3   shika

In [47]:
type(d)

pandas.core.frame.DataFrame

#### add column in the data frame

In [48]:
marks=[67,54,89,96]
d[1]=marks ### we defined mark in 1 so 1th postion mark will present
d

        0   1
0   divya  67
1   karan  54
2  jyothi  89
3   shika  96

####  give name to column

In [50]:
d.columns=["Name","Marks"] ### name and marks will printt to output
d

     Name  Marks
0   divya     67
1   karan     54
2  jyothi     89
3   shika     96

### create dataframe from dictionary

In [1]:
import pandas as pd
import numpy as np
import warnings ##some warning will come it will ignore the warning
warnings.filterwarnings("ignore")

In [2]:
r=np.random.random((7,7))
r

array([[0.82690138, 0.9958184 , 0.82006534, 0.99441009, 0.57007929,
        0.67228516, 0.97354098],
       [0.84858474, 0.7583332 , 0.40098457, 0.39782882, 0.61169773,
        0.52690595, 0.38564301],
       [0.16394582, 0.12013811, 0.42526305, 0.34203417, 0.42806055,
        0.58187271, 0.62879552],
       [0.76417049, 0.99210854, 0.13771183, 0.00518423, 0.65069031,
        0.86787944, 0.99810578],
       [0.62506946, 0.24316365, 0.21395515, 0.93820123, 0.77794429,
        0.46130357, 0.26841864],
       [0.74541273, 0.52189627, 0.82300431, 0.74273137, 0.33957562,
        0.36630881, 0.96700972],
       [0.31761455, 0.08264048, 0.31451966, 0.04725603, 0.78149833,
        0.46595652, 0.24610761]])

In [3]:
d2=pd.DataFrame(r)
d2

          0         1         2         3         4         5         6
0  0.826901  0.995818  0.820065  0.994410  0.570079  0.672285  0.973541
1  0.848585  0.758333  0.400985  0.397829  0.611698  0.526906  0.385643
2  0.163946  0.120138  0.425263  0.342034  0.428061  0.581873  0.628796
3  0.764170  0.992109  0.137712  0.005184  0.650690  0.867879  0.998106
4  0.625069  0.243164  0.213955  0.938201  0.777944  0.461304  0.268419
5  0.745413  0.521896  0.823004  0.742731  0.339576  0.366309  0.967010
6  0.317615  0.082640  0.314520  0.047256  0.781498  0.465957  0.246108

In [5]:
date1=pd.date_range("today",periods=7) ### date_range used to get date range
date1

DatetimeIndex(['2022-08-01 18:46:56.306198', '2022-08-02 18:46:56.306198',
               '2022-08-03 18:46:56.306198', '2022-08-04 18:46:56.306198',
               '2022-08-05 18:46:56.306198', '2022-08-06 18:46:56.306198',
               '2022-08-07 18:46:56.306198'],
              dtype='datetime64[ns]', freq='D')

In [6]:
date2=pd.date_range(start="2021-01-20,",end="2021-02-05")
date2

DatetimeIndex(['2021-01-20', '2021-01-21', '2021-01-22', '2021-01-23',
               '2021-01-24', '2021-01-25', '2021-01-26', '2021-01-27',
               '2021-01-28', '2021-01-29', '2021-01-30', '2021-01-31',
               '2021-02-01', '2021-02-02', '2021-02-03', '2021-02-04',
               '2021-02-05'],
              dtype='datetime64[ns]', freq='D')

In [7]:
date3=pd.date_range(start="2021-01-20",periods=7)
date3

DatetimeIndex(['2021-01-20', '2021-01-21', '2021-01-22', '2021-01-23',
               '2021-01-24', '2021-01-25', '2021-01-26'],
              dtype='datetime64[ns]', freq='D')

In [8]:
d2=pd.DataFrame(r,date3) ##r is random value here index we got as date3 values
d2

,0,1,2,3,4,5,6
2021-01-20,0.826901,0.995818,0.820065,0.994410,0.570079,0.672285,0.973541
2021-01-21,0.848585,0.758333,0.400985,0.397829,0.611698,0.526906,0.385643
2021-01-22,0.163946,0.120138,0.425263,0.342034,0.428061,0.581873,0.628796
2021-01-23,0.764170,0.992109,0.137712,0.005184,0.650690,0.867879,0.998106
2021-01-24,0.625069,0.243164,0.213955,0.938201,0.777944,0.461304,0.268419
2021-01-25,0.745413,0.521896,0.823004,0.742731,0.339576,0.366309,0.967010
2021-01-26,0.317615,0.082640,0.314520,0.047256,0.781498,0.465957,0.246108

In [9]:
### changing column names
d2.columns=["A","B","C","D","E","F","G"]
d2

,A,B,C,D,E,F,G
2021-01-20,0.826901,0.995818,0.820065,0.994410,0.570079,0.672285,0.973541
2021-01-21,0.848585,0.758333,0.400985,0.397829,0.611698,0.526906,0.385643
2021-01-22,0.163946,0.120138,0.425263,0.342034,0.428061,0.581873,0.628796
2021-01-23,0.764170,0.992109,0.137712,0.005184,0.650690,0.867879,0.998106
2021-01-24,0.625069,0.243164,0.213955,0.938201,0.777944,0.461304,0.268419
2021-01-25,0.745413,0.521896,0.823004,0.742731,0.339576,0.366309,0.967010
2021-01-26,0.317615,0.082640,0.314520,0.047256,0.781498,0.465957,0.246108

In [10]:
## list index
d2.index

DatetimeIndex(['2021-01-20', '2021-01-21', '2021-01-22', '2021-01-23',
               '2021-01-24', '2021-01-25', '2021-01-26'],
              dtype='datetime64[ns]', freq='D')

In [11]:
##list column names
d2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype='object')

In [13]:
## data type of each column
d2.dtypes

A    float64
B    float64
C    float64
D    float64
E    float64
F    float64
G    float64
dtype: object

In [14]:
## SORT DATA FRAME BY COLUMN A IN ASCENDING ORDER
d2.sort_values(by="A")

,A,B,C,D,E,F,G
2021-01-22,0.163946,0.120138,0.425263,0.342034,0.428061,0.581873,0.628796
2021-01-26,0.317615,0.082640,0.314520,0.047256,0.781498,0.465957,0.246108
2021-01-24,0.625069,0.243164,0.213955,0.938201,0.777944,0.461304,0.268419
2021-01-25,0.745413,0.521896,0.823004,0.742731,0.339576,0.366309,0.967010
2021-01-23,0.764170,0.992109,0.137712,0.005184,0.650690,0.867879,0.998106
2021-01-20,0.826901,0.995818,0.820065,0.994410,0.570079,0.672285,0.973541
2021-01-21,0.848585,0.758333,0.400985,0.397829,0.611698,0.526906,0.385643

In [16]:
## sort dataframe by column A in descending order
d2.sort_values(by="A",ascending=False)

,A,B,C,D,E,F,G
2021-01-21,0.848585,0.758333,0.400985,0.397829,0.611698,0.526906,0.385643
2021-01-20,0.826901,0.995818,0.820065,0.994410,0.570079,0.672285,0.973541
2021-01-23,0.764170,0.992109,0.137712,0.005184,0.650690,0.867879,0.998106
2021-01-25,0.745413,0.521896,0.823004,0.742731,0.339576,0.366309,0.967010
2021-01-24,0.625069,0.243164,0.213955,0.938201,0.777944,0.461304,0.268419
2021-01-26,0.317615,0.082640,0.314520,0.047256,0.781498,0.465957,0.246108
2021-01-22,0.163946,0.120138,0.425263,0.342034,0.428061,0.581873,0.628796

### delete column in data frame

In [17]:
d2

,A,B,C,D,E,F,G
2021-01-20,0.826901,0.995818,0.820065,0.994410,0.570079,0.672285,0.973541
2021-01-21,0.848585,0.758333,0.400985,0.397829,0.611698,0.526906,0.385643
2021-01-22,0.163946,0.120138,0.425263,0.342034,0.428061,0.581873,0.628796
2021-01-23,0.764170,0.992109,0.137712,0.005184,0.650690,0.867879,0.998106
2021-01-24,0.625069,0.243164,0.213955,0.938201,0.777944,0.461304,0.268419
2021-01-25,0.745413,0.521896,0.823004,0.742731,0.339576,0.366309,0.967010
2021-01-26,0.317615,0.082640,0.314520,0.047256,0.781498,0.465957,0.246108

In [19]:
del d2["C"] ## deleting c column and resulting column doesnt contain c 
d2

                   A         B         D         E         F         G
2021-01-20  0.826901  0.995818  0.994410  0.570079  0.672285  0.973541
2021-01-21  0.848585  0.758333  0.397829  0.611698  0.526906  0.385643
2021-01-22  0.163946  0.120138  0.342034  0.428061  0.581873  0.628796
2021-01-23  0.764170  0.992109  0.005184  0.650690  0.867879  0.998106
2021-01-24  0.625069  0.243164  0.938201  0.777944  0.461304  0.268419
2021-01-25  0.745413  0.521896  0.742731  0.339576  0.366309  0.967010
2021-01-26  0.317615  0.082640  0.047256  0.781498  0.465957  0.246108

In [20]:
d2.pop("A") ### pop also used to dlete column in dataframe
d2

                   B         D         E         F         G
2021-01-20  0.995818  0.994410  0.570079  0.672285  0.973541
2021-01-21  0.758333  0.397829  0.611698  0.526906  0.385643
2021-01-22  0.120138  0.342034  0.428061  0.581873  0.628796
2021-01-23  0.992109  0.005184  0.650690  0.867879  0.998106
2021-01-24  0.243164  0.938201  0.777944  0.461304  0.268419
2021-01-25  0.521896  0.742731  0.339576  0.366309  0.967010
2021-01-26  0.082640  0.047256  0.781498  0.465957  0.246108

In [21]:
d2.drop(['E'],axis=1,inplace=True) ## inplace used to permenant chnade
d2

                   B         D         F         G
2021-01-20  0.995818  0.994410  0.672285  0.973541
2021-01-21  0.758333  0.397829  0.526906  0.385643
2021-01-22  0.120138  0.342034  0.581873  0.628796
2021-01-23  0.992109  0.005184  0.867879  0.998106
2021-01-24  0.243164  0.938201  0.461304  0.268419
2021-01-25  0.521896  0.742731  0.366309  0.967010
2021-01-26  0.082640  0.047256  0.465957  0.246108

### delete row in dataframe

In [22]:
r=np.random.random((10,10))
r

array([[0.40968991, 0.86851702, 0.04910877, 0.13459604, 0.29987945,
        0.13566316, 0.09220193, 0.01892749, 0.80251469, 0.4402969 ],
       [0.24571986, 0.80180596, 0.00379398, 0.63925424, 0.39661123,
        0.29576213, 0.4606662 , 0.55308367, 0.33918822, 0.71257454],
       [0.05994575, 0.52636509, 0.34476237, 0.28999455, 0.67324824,
        0.579126  , 0.55793365, 0.34188167, 0.26856434, 0.60311742],
       [0.22306785, 0.22667446, 0.85406933, 0.52291861, 0.30755587,
        0.76457741, 0.23006889, 0.76060974, 0.23707498, 0.01284909],
       [0.73375031, 0.57446583, 0.31190393, 0.80951646, 0.02545774,
        0.94215416, 0.22925211, 0.13389336, 0.6365868 , 0.9203318 ],
       [0.70562512, 0.36382708, 0.69143086, 0.03335389, 0.36481353,
        0.02803583, 0.60141325, 0.27693292, 0.76208649, 0.23057448],
       [0.19745256, 0.73126328, 0.57402627, 0.30762746, 0.34435012,
        0.61337419, 0.26415899, 0.69226206, 0.76299316, 0.84563101],
       [0.06269791, 0.06162211, 0.38540742, 0.34905937, 0.09735062,
        0.10488392, 0.30998903, 0.9116658 , 0.21574758, 0.11463518],
       [0.73020438, 0.22907722, 0.7447353 , 0.27296266, 0.79185321,
        0.94793896, 0.80745339, 0.60086986, 0.73202066, 0.48001905],
       [0.89737778, 0.69549842, 0.7458245 , 0.21029702, 0.99550531,
        0.51412461, 0.10112448, 0.49999229, 0.17053025, 0.27864238]])

In [24]:
d2=pd.DataFrame(r)
d2

,0,1,2,3,4,5,6,7,8,9
0,0.409690,0.868517,0.049109,0.134596,0.299879,0.135663,0.092202,0.018927,0.802515,0.440297
1,0.245720,0.801806,0.003794,0.639254,0.396611,0.295762,0.460666,0.553084,0.339188,0.712575
2,0.059946,0.526365,0.344762,0.289995,0.673248,0.579126,0.557934,0.341882,0.268564,0.603117
3,0.223068,0.226674,0.854069,0.522919,0.307556,0.764577,0.230069,0.760610,0.237075,0.012849
4,0.733750,0.574466,0.311904,0.809516,0.025458,0.942154,0.229252,0.133893,0.636587,0.920332
5,0.705625,0.363827,0.691431,0.033354,0.364814,0.028036,0.601413,0.276933,0.762086,0.230574
6,0.197453,0.731263,0.574026,0.307627,0.344350,0.613374,0.264159,0.692262,0.762993,0.845631
7,0.062698,0.061622,0.385407,0.349059,0.097351,0.104884,0.309989,0.911666,0.215748,0.114635
8,0.730204,0.229077,0.744735,0.272963,0.791853,0.947939,0.807453,0.600870,0.732021,0.480019
9,0.897378,0.695498,0.745825,0.210297,0.995505,0.514125,0.101124,0.499992,0.170530,0.278642

In [25]:
d2=d2.drop([4,5],axis=0) ## axis means the row and axis 1 is column here row 4,5 will deleted
d2

,0,1,2,3,4,5,6,7,8,9
0,0.409690,0.868517,0.049109,0.134596,0.299879,0.135663,0.092202,0.018927,0.802515,0.440297
1,0.245720,0.801806,0.003794,0.639254,0.396611,0.295762,0.460666,0.553084,0.339188,0.712575
2,0.059946,0.526365,0.344762,0.289995,0.673248,0.579126,0.557934,0.341882,0.268564,0.603117
3,0.223068,0.226674,0.854069,0.522919,0.307556,0.764577,0.230069,0.760610,0.237075,0.012849
6,0.197453,0.731263,0.574026,0.307627,0.344350,0.613374,0.264159,0.692262,0.762993,0.845631
7,0.062698,0.061622,0.385407,0.349059,0.097351,0.104884,0.309989,0.911666,0.215748,0.114635
8,0.730204,0.229077,0.744735,0.272963,0.791853,0.947939,0.807453,0.600870,0.732021,0.480019
9,0.897378,0.695498,0.745825,0.210297,0.995505,0.514125,0.101124,0.499992,0.170530,0.278642

In [27]:
d2.drop(d2.index[2],inplace=True) ## inplace permenant change index mention the row
d2

,0,1,2,3,4,5,6,7,8,9
0,0.409690,0.868517,0.049109,0.134596,0.299879,0.135663,0.092202,0.018927,0.802515,0.440297
1,0.245720,0.801806,0.003794,0.639254,0.396611,0.295762,0.460666,0.553084,0.339188,0.712575
3,0.223068,0.226674,0.854069,0.522919,0.307556,0.764577,0.230069,0.760610,0.237075,0.012849
6,0.197453,0.731263,0.574026,0.307627,0.344350,0.613374,0.264159,0.692262,0.762993,0.845631
7,0.062698,0.061622,0.385407,0.349059,0.097351,0.104884,0.309989,0.911666,0.215748,0.114635
8,0.730204,0.229077,0.744735,0.272963,0.791853,0.947939,0.807453,0.600870,0.732021,0.480019
9,0.897378,0.695498,0.745825,0.210297,0.995505,0.514125,0.101124,0.499992,0.170530,0.278642

In [28]:
d2

,0,1,2,3,4,5,6,7,8,9
0,0.409690,0.868517,0.049109,0.134596,0.299879,0.135663,0.092202,0.018927,0.802515,0.440297
1,0.245720,0.801806,0.003794,0.639254,0.396611,0.295762,0.460666,0.553084,0.339188,0.712575
3,0.223068,0.226674,0.854069,0.522919,0.307556,0.764577,0.230069,0.760610,0.237075,0.012849
6,0.197453,0.731263,0.574026,0.307627,0.344350,0.613374,0.264159,0.692262,0.762993,0.845631
7,0.062698,0.061622,0.385407,0.349059,0.097351,0.104884,0.309989,0.911666,0.215748,0.114635
8,0.730204,0.229077,0.744735,0.272963,0.791853,0.947939,0.807453,0.600870,0.732021,0.480019
9,0.897378,0.695498,0.745825,0.210297,0.995505,0.514125,0.101124,0.499992,0.170530,0.278642

In [29]:
d2=d2.loc[3:,] ##loc means location here 3 mention so from 3 it is starting 1,2 is eliminated
d2

,0,1,2,3,4,5,6,7,8,9
3,0.223068,0.226674,0.854069,0.522919,0.307556,0.764577,0.230069,0.760610,0.237075,0.012849
6,0.197453,0.731263,0.574026,0.307627,0.344350,0.613374,0.264159,0.692262,0.762993,0.845631
7,0.062698,0.061622,0.385407,0.349059,0.097351,0.104884,0.309989,0.911666,0.215748,0.114635
8,0.730204,0.229077,0.744735,0.272963,0.791853,0.947939,0.807453,0.600870,0.732021,0.480019
9,0.897378,0.695498,0.745825,0.210297,0.995505,0.514125,0.101124,0.499992,0.170530,0.278642

In [30]:
d2=d2.loc[6] ##it only taken the values in the 6 row
d2

0    0.197453
1    0.731263
2    0.574026
3    0.307627
4    0.344350
5    0.613374
6    0.264159
7    0.692262
8    0.762993
9    0.845631
Name: 6, dtype: float64

In [31]:
d2=pd.DataFrame(r)
d2

,0,1,2,3,4,5,6,7,8,9
0,0.409690,0.868517,0.049109,0.134596,0.299879,0.135663,0.092202,0.018927,0.802515,0.440297
1,0.245720,0.801806,0.003794,0.639254,0.396611,0.295762,0.460666,0.553084,0.339188,0.712575
2,0.059946,0.526365,0.344762,0.289995,0.673248,0.579126,0.557934,0.341882,0.268564,0.603117
3,0.223068,0.226674,0.854069,0.522919,0.307556,0.764577,0.230069,0.760610,0.237075,0.012849
4,0.733750,0.574466,0.311904,0.809516,0.025458,0.942154,0.229252,0.133893,0.636587,0.920332
5,0.705625,0.363827,0.691431,0.033354,0.364814,0.028036,0.601413,0.276933,0.762086,0.230574
6,0.197453,0.731263,0.574026,0.307627,0.344350,0.613374,0.264159,0.692262,0.762993,0.845631
7,0.062698,0.061622,0.385407,0.349059,0.097351,0.104884,0.309989,0.911666,0.215748,0.114635
8,0.730204,0.229077,0.744735,0.272963,0.791853,0.947939,0.807453,0.600870,0.732021,0.480019
9,0.897378,0.695498,0.745825,0.210297,0.995505,0.514125,0.101124,0.499992,0.170530,0.278642

In [32]:
d2=d2.loc[0:7] ### it will print 0 to 7
d2

,0,1,2,3,4,5,6,7,8,9
0,0.409690,0.868517,0.049109,0.134596,0.299879,0.135663,0.092202,0.018927,0.802515,0.440297
1,0.245720,0.801806,0.003794,0.639254,0.396611,0.295762,0.460666,0.553084,0.339188,0.712575
2,0.059946,0.526365,0.344762,0.289995,0.673248,0.579126,0.557934,0.341882,0.268564,0.603117
3,0.223068,0.226674,0.854069,0.522919,0.307556,0.764577,0.230069,0.760610,0.237075,0.012849
4,0.733750,0.574466,0.311904,0.809516,0.025458,0.942154,0.229252,0.133893,0.636587,0.920332
5,0.705625,0.363827,0.691431,0.033354,0.364814,0.028036,0.601413,0.276933,0.762086,0.230574
6,0.197453,0.731263,0.574026,0.307627,0.344350,0.613374,0.264159,0.692262,0.762993,0.845631
7,0.062698,0.061622,0.385407,0.349059,0.097351,0.104884,0.309989,0.911666,0.215748,0.114635

In [33]:
d2=pd.DataFrame(r)
d2

,0,1,2,3,4,5,6,7,8,9
0,0.409690,0.868517,0.049109,0.134596,0.299879,0.135663,0.092202,0.018927,0.802515,0.440297
1,0.245720,0.801806,0.003794,0.639254,0.396611,0.295762,0.460666,0.553084,0.339188,0.712575
2,0.059946,0.526365,0.344762,0.289995,0.673248,0.579126,0.557934,0.341882,0.268564,0.603117
3,0.223068,0.226674,0.854069,0.522919,0.307556,0.764577,0.230069,0.760610,0.237075,0.012849
4,0.733750,0.574466,0.311904,0.809516,0.025458,0.942154,0.229252,0.133893,0.636587,0.920332
5,0.705625,0.363827,0.691431,0.033354,0.364814,0.028036,0.601413,0.276933,0.762086,0.230574
6,0.197453,0.731263,0.574026,0.307627,0.344350,0.613374,0.264159,0.692262,0.762993,0.845631
7,0.062698,0.061622,0.385407,0.349059,0.097351,0.104884,0.309989,0.911666,0.215748,0.114635
8,0.730204,0.229077,0.744735,0.272963,0.791853,0.947939,0.807453,0.600870,0.732021,0.480019
9,0.897378,0.695498,0.745825,0.210297,0.995505,0.514125,0.101124,0.499992,0.170530,0.278642

In [34]:
d2.iloc[-4:-1] ##iloc is index location

,0,1,2,3,4,5,6,7,8,9
6,0.197453,0.731263,0.574026,0.307627,0.344350,0.613374,0.264159,0.692262,0.762993,0.845631
7,0.062698,0.061622,0.385407,0.349059,0.097351,0.104884,0.309989,0.911666,0.215748,0.114635
8,0.730204,0.229077,0.744735,0.272963,0.791853,0.947939,0.807453,0.600870,0.732021,0.480019

In [35]:
d2=pd.DataFrame(r)
d2

,0,1,2,3,4,5,6,7,8,9
0,0.409690,0.868517,0.049109,0.134596,0.299879,0.135663,0.092202,0.018927,0.802515,0.440297
1,0.245720,0.801806,0.003794,0.639254,0.396611,0.295762,0.460666,0.553084,0.339188,0.712575
2,0.059946,0.526365,0.344762,0.289995,0.673248,0.579126,0.557934,0.341882,0.268564,0.603117
3,0.223068,0.226674,0.854069,0.522919,0.307556,0.764577,0.230069,0.760610,0.237075,0.012849
4,0.733750,0.574466,0.311904,0.809516,0.025458,0.942154,0.229252,0.133893,0.636587,0.920332
5,0.705625,0.363827,0.691431,0.033354,0.364814,0.028036,0.601413,0.276933,0.762086,0.230574
6,0.197453,0.731263,0.574026,0.307627,0.344350,0.613374,0.264159,0.692262,0.762993,0.845631
7,0.062698,0.061622,0.385407,0.349059,0.097351,0.104884,0.309989,0.911666,0.215748,0.114635
8,0.730204,0.229077,0.744735,0.272963,0.791853,0.947939,0.807453,0.600870,0.732021,0.480019
9,0.897378,0.695498,0.745825,0.210297,0.995505,0.514125,0.101124,0.499992,0.170530,0.278642

In [36]:
d2.iloc[1:4]

,0,1,2,3,4,5,6,7,8,9
1,0.245720,0.801806,0.003794,0.639254,0.396611,0.295762,0.460666,0.553084,0.339188,0.712575
2,0.059946,0.526365,0.344762,0.289995,0.673248,0.579126,0.557934,0.341882,0.268564,0.603117
3,0.223068,0.226674,0.854069,0.522919,0.307556,0.764577,0.230069,0.760610,0.237075,0.012849

In [37]:
d2

,0,1,2,3,4,5,6,7,8,9
0,0.409690,0.868517,0.049109,0.134596,0.299879,0.135663,0.092202,0.018927,0.802515,0.440297
1,0.245720,0.801806,0.003794,0.639254,0.396611,0.295762,0.460666,0.553084,0.339188,0.712575
2,0.059946,0.526365,0.344762,0.289995,0.673248,0.579126,0.557934,0.341882,0.268564,0.603117
3,0.223068,0.226674,0.854069,0.522919,0.307556,0.764577,0.230069,0.760610,0.237075,0.012849
4,0.733750,0.574466,0.311904,0.809516,0.025458,0.942154,0.229252,0.133893,0.636587,0.920332
5,0.705625,0.363827,0.691431,0.033354,0.364814,0.028036,0.601413,0.276933,0.762086,0.230574
6,0.197453,0.731263,0.574026,0.307627,0.344350,0.613374,0.264159,0.692262,0.762993,0.845631
7,0.062698,0.061622,0.385407,0.349059,0.097351,0.104884,0.309989,0.911666,0.215748,0.114635
8,0.730204,0.229077,0.744735,0.272963,0.791853,0.947939,0.807453,0.600870,0.732021,0.480019
9,0.897378,0.695498,0.745825,0.210297,0.995505,0.514125,0.101124,0.499992,0.170530,0.278642

In [38]:
d2.loc[5] ## loc for location

0    0.705625
1    0.363827
2    0.691431
3    0.033354
4    0.364814
5    0.028036
6    0.601413
7    0.276933
8    0.762086
9    0.230574
Name: 5, dtype: float64

In [39]:
d2.iloc[5] ##iloc for index location

0    0.705625
1    0.363827
2    0.691431
3    0.033354
4    0.364814
5    0.028036
6    0.601413
7    0.276933
8    0.762086
9    0.230574
Name: 5, dtype: float64

### data selection

In [41]:
d1=pd.DataFrame({"ID":[1,2,3,4],"name":["divya","athu","chippy","sree"]})
d1

   ID    name
0   1   divya
1   2    athu
2   3  chippy
3   4    sree

In [42]:
d1.index=["A","B","C","D"]
d1

   ID    name
A   1   divya
B   2    athu
C   3  chippy
D   4    sree

In [43]:
d1.loc["A"]

ID          1
name    divya
Name: A, dtype: object

In [44]:
d1.loc[0]

KeyError: 0

In [45]:
d1.iloc[0] ##data selection using postion(integer index based)

ID          1
name    divya
Name: A, dtype: object

In [46]:
d1.iloc["A"]

TypeError: Cannot index by location index with a non-integer key

In [47]:
d1

   ID    name
A   1   divya
B   2    athu
C   3  chippy
D   4    sree

In [48]:
d1.loc["A":"C"]

   ID    name
A   1   divya
B   2    athu
C   3  chippy

In [49]:
d1.iloc[0:2]

   ID   name
A   1  divya
B   2   athu

In [50]:
d1

   ID    name
A   1   divya
B   2    athu
C   3  chippy
D   4    sree

In [51]:
d1.loc[d1.ID>2] ##it will print id >2

   ID    name
C   3  chippy
D   4    sree

### set value

In [52]:
date3=pd.date_range(start="2021-01-25",periods=7)
date3

DatetimeIndex(['2021-01-25', '2021-01-26', '2021-01-27', '2021-01-28',
               '2021-01-29', '2021-01-30', '2021-01-31'],
              dtype='datetime64[ns]', freq='D')

In [53]:
r=np.random.random((7,7))
r

array([[0.06467617, 0.2364453 , 0.19723597, 0.9057836 , 0.02655853,
        0.86225537, 0.48672559],
       [0.65837656, 0.4261347 , 0.12698222, 0.91840124, 0.08734607,
        0.43093119, 0.2443978 ],
       [0.92451456, 0.17113349, 0.48622618, 0.64028169, 0.85172499,
        0.04173405, 0.48303449],
       [0.48444108, 0.74695173, 0.70010699, 0.15549901, 0.63000721,
        0.93663874, 0.11472994],
       [0.61657713, 0.49433918, 0.0705714 , 0.90964553, 0.25298669,
        0.11652698, 0.8122148 ],
       [0.38895142, 0.80496715, 0.85444713, 0.70214171, 0.3342881 ,
        0.45629979, 0.87792819],
       [0.30373577, 0.81775096, 0.24994054, 0.65899508, 0.73104881,
        0.33305562, 0.40283705]])

In [55]:
d2=pd.DataFrame(r)
d2

          0         1         2         3         4         5         6
0  0.064676  0.236445  0.197236  0.905784  0.026559  0.862255  0.486726
1  0.658377  0.426135  0.126982  0.918401  0.087346  0.430931  0.244398
2  0.924515  0.171133  0.486226  0.640282  0.851725  0.041734  0.483034
3  0.484441  0.746952  0.700107  0.155499  0.630007  0.936639  0.114730
4  0.616577  0.494339  0.070571  0.909646  0.252987  0.116527  0.812215
5  0.388951  0.804967  0.854447  0.702142  0.334288  0.456300  0.877928
6  0.303736  0.817751  0.249941  0.658995  0.731049  0.333056  0.402837

In [58]:
d2=pd.DataFrame(r,date3)
d2

,0,1,2,3,4,5,6
2021-01-25,0.064676,0.236445,0.197236,0.905784,0.026559,0.862255,0.486726
2021-01-26,0.658377,0.426135,0.126982,0.918401,0.087346,0.430931,0.244398
2021-01-27,0.924515,0.171133,0.486226,0.640282,0.851725,0.041734,0.483034
2021-01-28,0.484441,0.746952,0.700107,0.155499,0.630007,0.936639,0.114730
2021-01-29,0.616577,0.494339,0.070571,0.909646,0.252987,0.116527,0.812215
2021-01-30,0.388951,0.804967,0.854447,0.702142,0.334288,0.456300,0.877928
2021-01-31,0.303736,0.817751,0.249941,0.658995,0.731049,0.333056,0.402837

In [90]:
d2.columns=["A","B","C","D","E","F","G"]
d2

,A,B,C,D,E,F,G
2021-01-25,0.064676,0.236445,0.197236,0.905784,100.000000,0.862255,0.486726
2021-01-26,0.658377,0.426135,0.126982,0.918401,0.087346,0.430931,0.244398
2021-01-27,0.924515,0.171133,0.486226,0.640282,0.851725,0.041734,0.483034
2021-01-28,0.484441,0.746952,0.700107,0.155499,0.630007,0.936639,0.114730
2021-01-29,0.616577,0.494339,0.070571,0.909646,0.252987,0.116527,0.812215
2021-01-30,0.388951,0.804967,0.854447,0.702142,0.334288,0.456300,0.877928
2021-01-31,0.303736,0.817751,0.249941,0.658995,0.731049,0.333056,0.402837

In [91]:
d2.iat[0,4]=100
d2

,A,B,C,D,E,F,G
2021-01-25,0.064676,0.236445,0.197236,0.905784,100.000000,0.862255,0.486726
2021-01-26,0.658377,0.426135,0.126982,0.918401,0.087346,0.430931,0.244398
2021-01-27,0.924515,0.171133,0.486226,0.640282,0.851725,0.041734,0.483034
2021-01-28,0.484441,0.746952,0.700107,0.155499,0.630007,0.936639,0.114730
2021-01-29,0.616577,0.494339,0.070571,0.909646,0.252987,0.116527,0.812215
2021-01-30,0.388951,0.804967,0.854447,0.702142,0.334288,0.456300,0.877928
2021-01-31,0.303736,0.817751,0.249941,0.658995,0.731049,0.333056,0.402837

In [92]:
d2[d2.isin([100])]=88
d2

,A,B,C,D,E,F,G
2021-01-25,0.064676,0.236445,0.197236,0.905784,88.000000,0.862255,0.486726
2021-01-26,0.658377,0.426135,0.126982,0.918401,0.087346,0.430931,0.244398
2021-01-27,0.924515,0.171133,0.486226,0.640282,0.851725,0.041734,0.483034
2021-01-28,0.484441,0.746952,0.700107,0.155499,0.630007,0.936639,0.114730
2021-01-29,0.616577,0.494339,0.070571,0.909646,0.252987,0.116527,0.812215
2021-01-30,0.388951,0.804967,0.854447,0.702142,0.334288,0.456300,0.877928
2021-01-31,0.303736,0.817751,0.249941,0.658995,0.731049,0.333056,0.402837

In [59]:
d2.at[0:3,"C"]=90
d2

,0,1,2,3,4,5,6,C
2021-01-25,0.064676,0.236445,0.197236,0.905784,0.026559,0.862255,0.486726,90.0
2021-01-26,0.658377,0.426135,0.126982,0.918401,0.087346,0.430931,0.244398,90.0
2021-01-27,0.924515,0.171133,0.486226,0.640282,0.851725,0.041734,0.483034,90.0
2021-01-28,0.484441,0.746952,0.700107,0.155499,0.630007,0.936639,0.114730,NaN
2021-01-29,0.616577,0.494339,0.070571,0.909646,0.252987,0.116527,0.812215,NaN
2021-01-30,0.388951,0.804967,0.854447,0.702142,0.334288,0.456300,0.877928,NaN
2021-01-31,0.303736,0.817751,0.249941,0.658995,0.731049,0.333056,0.402837,NaN

In [94]:
d2.iat[0,4]=100
d2

,A,B,C,D,E,F,G
2021-01-25,0.064676,0.236445,0.197236,0.905784,100.000000,0.862255,0.486726
2021-01-26,0.658377,0.426135,0.126982,0.918401,0.087346,0.430931,0.244398
2021-01-27,0.924515,0.171133,0.486226,0.640282,0.851725,0.041734,0.483034
2021-01-28,0.484441,0.746952,0.700107,0.155499,0.630007,0.936639,0.114730
2021-01-29,0.616577,0.494339,0.070571,0.909646,0.252987,0.116527,0.812215
2021-01-30,0.388951,0.804967,0.854447,0.702142,0.334288,0.456300,0.877928
2021-01-31,0.303736,0.817751,0.249941,0.658995,0.731049,0.333056,0.402837

In [95]:
d2[d2.isin([100])]=88
d2

,A,B,C,D,E,F,G
2021-01-25,0.064676,0.236445,0.197236,0.905784,88.000000,0.862255,0.486726
2021-01-26,0.658377,0.426135,0.126982,0.918401,0.087346,0.430931,0.244398
2021-01-27,0.924515,0.171133,0.486226,0.640282,0.851725,0.041734,0.483034
2021-01-28,0.484441,0.746952,0.700107,0.155499,0.630007,0.936639,0.114730
2021-01-29,0.616577,0.494339,0.070571,0.909646,0.252987,0.116527,0.812215
2021-01-30,0.388951,0.804967,0.854447,0.702142,0.334288,0.456300,0.877928
2021-01-31,0.303736,0.817751,0.249941,0.658995,0.731049,0.333056,0.402837

In [93]:
d2[d2["C"]==95]

Empty DataFrame
Columns: [A, B, C, D, E, F, G]
Index: []

In [96]:
d2[d2["C"]==90]

Empty DataFrame
Columns: [A, B, C, D, E, F, G]
Index: []

In [61]:
d2[d2.isin([100])]=88
d2

,0,1,2,3,4,5,6,C
2021-01-25,0.064676,0.236445,0.197236,0.905784,88.000000,0.862255,0.486726,90.0
2021-01-26,0.658377,0.426135,0.126982,0.918401,0.087346,0.430931,0.244398,90.0
2021-01-27,0.924515,0.171133,0.486226,0.640282,0.851725,0.041734,0.483034,90.0
2021-01-28,0.484441,0.746952,0.700107,0.155499,0.630007,0.936639,0.114730,NaN
2021-01-29,0.616577,0.494339,0.070571,0.909646,0.252987,0.116527,0.812215,NaN
2021-01-30,0.388951,0.804967,0.854447,0.702142,0.334288,0.456300,0.877928,NaN
2021-01-31,0.303736,0.817751,0.249941,0.658995,0.731049,0.333056,0.402837,NaN

In [62]:
d2[d2["C"]==90]

,0,1,2,3,4,5,6,C
2021-01-25,0.064676,0.236445,0.197236,0.905784,88.000000,0.862255,0.486726,90.0
2021-01-26,0.658377,0.426135,0.126982,0.918401,0.087346,0.430931,0.244398,90.0
2021-01-27,0.924515,0.171133,0.486226,0.640282,0.851725,0.041734,0.483034,90.0

In [64]:
d2[d2["C"]==95]

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, C]
Index: []

### DESCRIPTIVE STATITICS

In [65]:
d2

,0,1,2,3,4,5,6,C
2021-01-25,0.064676,0.236445,0.197236,0.905784,88.000000,0.862255,0.486726,90.0
2021-01-26,0.658377,0.426135,0.126982,0.918401,0.087346,0.430931,0.244398,90.0
2021-01-27,0.924515,0.171133,0.486226,0.640282,0.851725,0.041734,0.483034,90.0
2021-01-28,0.484441,0.746952,0.700107,0.155499,0.630007,0.936639,0.114730,NaN
2021-01-29,0.616577,0.494339,0.070571,0.909646,0.252987,0.116527,0.812215,NaN
2021-01-30,0.388951,0.804967,0.854447,0.702142,0.334288,0.456300,0.877928,NaN
2021-01-31,0.303736,0.817751,0.249941,0.658995,0.731049,0.333056,0.402837,NaN

In [67]:
d2.max()

0     0.924515
1     0.817751
2     0.854447
3     0.918401
4    88.000000
5     0.936639
6     0.877928
C    90.000000
dtype: float64

In [68]:
d2.min()

0     0.064676
1     0.171133
2     0.070571
3     0.155499
4     0.087346
5     0.041734
6     0.114730
C    90.000000
dtype: float64

In [70]:
d2.median()

0     0.484441
1     0.494339
2     0.249941
3     0.702142
4     0.630007
5     0.430931
6     0.483034
C    90.000000
dtype: float64

In [71]:
d2.std() ##std deviation

0     0.276584
1     0.268475
2     0.302446
3     0.269481
4    33.080120
5     0.341230
6     0.277821
C     0.000000
dtype: float64

In [72]:
d2=pd.DataFrame(r,date3)
d2

,0,1,2,3,4,5,6
2021-01-25,0.064676,0.236445,0.197236,0.905784,100.000000,0.862255,0.486726
2021-01-26,0.658377,0.426135,0.126982,0.918401,0.087346,0.430931,0.244398
2021-01-27,0.924515,0.171133,0.486226,0.640282,0.851725,0.041734,0.483034
2021-01-28,0.484441,0.746952,0.700107,0.155499,0.630007,0.936639,0.114730
2021-01-29,0.616577,0.494339,0.070571,0.909646,0.252987,0.116527,0.812215
2021-01-30,0.388951,0.804967,0.854447,0.702142,0.334288,0.456300,0.877928
2021-01-31,0.303736,0.817751,0.249941,0.658995,0.731049,0.333056,0.402837

In [73]:
d2.columns=["A","B","C","D","E","F","G"]
d2

,A,B,C,D,E,F,G
2021-01-25,0.064676,0.236445,0.197236,0.905784,100.000000,0.862255,0.486726
2021-01-26,0.658377,0.426135,0.126982,0.918401,0.087346,0.430931,0.244398
2021-01-27,0.924515,0.171133,0.486226,0.640282,0.851725,0.041734,0.483034
2021-01-28,0.484441,0.746952,0.700107,0.155499,0.630007,0.936639,0.114730
2021-01-29,0.616577,0.494339,0.070571,0.909646,0.252987,0.116527,0.812215
2021-01-30,0.388951,0.804967,0.854447,0.702142,0.334288,0.456300,0.877928
2021-01-31,0.303736,0.817751,0.249941,0.658995,0.731049,0.333056,0.402837

In [84]:
d2.max()

A      0.924515
B      0.817751
C      0.854447
D      0.918401
E    100.000000
F      0.936639
G      0.877928
dtype: float64

In [85]:
d2.min()

A    0.064676
B    0.171133
C    0.070571
D    0.155499
E    0.087346
F    0.041734
G    0.114730
dtype: float64

In [87]:
d2.median()

A    0.484441
B    0.494339
C    0.249941
D    0.702142
E    0.630007
F    0.430931
G    0.483034
dtype: float64

In [74]:
d2.var() ## variane

A       0.076499
B       0.072079
C       0.091474
D       0.072620
E    1414.930087
F       0.116438
G       0.077184
dtype: float64

In [89]:
d2.std()

A     0.276584
B     0.268475
C     0.302446
D     0.269481
E    37.615556
F     0.341230
G     0.277821
dtype: float64

In [83]:
d2["A"].min()

0.06467617070275733

In [75]:
d2.quantile(0.25) ##lower quartile/first quartile

A    0.346344
B    0.331290
C    0.162109
D    0.649638
E    0.293637
F    0.224791
G    0.323617
Name: 0.25, dtype: float64

In [76]:
d2.quantile(0.50) ##second quartile/median

A    0.484441
B    0.494339
C    0.249941
D    0.702142
E    0.630007
F    0.430931
G    0.483034
Name: 0.5, dtype: float64

In [78]:
##upper quartile
d2.quantile(0.75)

A    0.637477
B    0.775959
C    0.593167
D    0.907715
E    0.791387
F    0.659278
G    0.649470
Name: 0.75, dtype: float64

In [79]:
##IQR (interquantile range)
d2.quantile(0.75)-d2.quantile(0.25)

A    0.291133
B    0.444669
C    0.431057
D    0.258076
E    0.497750
F    0.434486
G    0.325853
dtype: float64

In [80]:
## sum of column values
d2.sum()

A      3.441273
B      3.697723
C      2.685510
D      4.890748
E    102.887402
F      3.177442
G      3.421868
dtype: float64

In [81]:
##3 generate descriptive stats
d2.describe()

              A         B         C         D           E         F         G
count  7.000000  7.000000  7.000000  7.000000    7.000000  7.000000  7.000000
mean   0.491610  0.528246  0.383644  0.698678   14.698200  0.453920  0.488838
std    0.276584  0.268475  0.302446  0.269481   37.615556  0.341230  0.277821
min    0.064676  0.171133  0.070571  0.155499    0.087346  0.041734  0.114730
25%    0.346344  0.331290  0.162109  0.649638    0.293637  0.224791  0.323617
50%    0.484441  0.494339  0.249941  0.702142    0.630007  0.430931  0.483034
75%    0.637477  0.775959  0.593167  0.907715    0.791387  0.659278  0.649470
max    0.924515  0.817751  0.854447  0.918401  100.000000  0.936639  0.877928

In [86]:
### correlation (-1 to 1)
d2.corr()

          A         B         C         D         E         F         G
A  1.000000 -0.304461  0.033043 -0.088774 -0.680110 -0.670636 -0.050033
B -0.304461  1.000000  0.442060 -0.457264 -0.479590  0.205710  0.039409
C  0.033043  0.442060  1.000000 -0.678906 -0.269500  0.263511  0.074558
D -0.088774 -0.457264 -0.678906  1.000000  0.334813 -0.407790  0.495059
E -0.680110 -0.479590 -0.269500  0.334813  1.000000  0.527332 -0.005171
F -0.670636  0.205710  0.263511 -0.407790  0.527332  1.000000 -0.476832
G -0.050033  0.039409  0.074558  0.495059 -0.005171 -0.476832  1.000000

In [88]:
### covariance
d2.cov()

          A         B         C         D            E         F         G
A  0.076499 -0.022608  0.002764 -0.006617    -7.075784 -0.063294 -0.003845
B -0.022608  0.072079  0.035895 -0.033083    -4.843300  0.018845  0.002939
C  0.002764  0.035895  0.091474 -0.055333    -3.066012  0.027195  0.006265
D -0.006617 -0.033083 -0.055333  0.072620     3.393883 -0.037498  0.037064
E -7.075784 -4.843300 -3.066012  3.393883  1414.930087  6.768605 -0.054041
F -0.063294  0.018845  0.027195 -0.037498     6.768605  0.116438 -0.045204
G -0.003845  0.002939  0.006265  0.037064    -0.054041 -0.045204  0.077184

In [1]:
import pandas as pd
import numpy as np
import warnings ##some warning will come it will ignore the warning
warnings.filterwarnings("ignore")

In [2]:
date3=pd.date_range(start="2021-01-25",periods=7)
date3

DatetimeIndex(['2021-01-25', '2021-01-26', '2021-01-27', '2021-01-28',
               '2021-01-29', '2021-01-30', '2021-01-31'],
              dtype='datetime64[ns]', freq='D')

In [3]:
r=np.random.random((7,7))
r

array([[0.53683858, 0.66996294, 0.51014267, 0.50405169, 0.89005337,
        0.71305592, 0.12024216],
       [0.25609668, 0.59864545, 0.97929891, 0.73158569, 0.55313558,
        0.62246755, 0.51007565],
       [0.59362726, 0.24727955, 0.69105299, 0.57317254, 0.89560399,
        0.99460852, 0.76799871],
       [0.84274753, 0.20793735, 0.53120038, 0.80093895, 0.95996458,
        0.74984538, 0.49929385],
       [0.46847954, 0.31905249, 0.16181021, 0.69649739, 0.62934563,
        0.38205059, 0.59177438],
       [0.051444  , 0.86443718, 0.74416717, 0.58637974, 0.37976738,
        0.94309114, 0.89703429],
       [0.13055929, 0.3437351 , 0.70043057, 0.05125576, 0.57072794,
        0.60415688, 0.49284408]])

In [4]:
d2=pd.DataFrame(r)
d2

          0         1         2         3         4         5         6
0  0.536839  0.669963  0.510143  0.504052  0.890053  0.713056  0.120242
1  0.256097  0.598645  0.979299  0.731586  0.553136  0.622468  0.510076
2  0.593627  0.247280  0.691053  0.573173  0.895604  0.994609  0.767999
3  0.842748  0.207937  0.531200  0.800939  0.959965  0.749845  0.499294
4  0.468480  0.319052  0.161810  0.696497  0.629346  0.382051  0.591774
5  0.051444  0.864437  0.744167  0.586380  0.379767  0.943091  0.897034
6  0.130559  0.343735  0.700431  0.051256  0.570728  0.604157  0.492844

In [5]:
d2=pd.DataFrame(r,date3)
d2

,0,1,2,3,4,5,6
2021-01-25,0.536839,0.669963,0.510143,0.504052,0.890053,0.713056,0.120242
2021-01-26,0.256097,0.598645,0.979299,0.731586,0.553136,0.622468,0.510076
2021-01-27,0.593627,0.247280,0.691053,0.573173,0.895604,0.994609,0.767999
2021-01-28,0.842748,0.207937,0.531200,0.800939,0.959965,0.749845,0.499294
2021-01-29,0.468480,0.319052,0.161810,0.696497,0.629346,0.382051,0.591774
2021-01-30,0.051444,0.864437,0.744167,0.586380,0.379767,0.943091,0.897034
2021-01-31,0.130559,0.343735,0.700431,0.051256,0.570728,0.604157,0.492844

In [6]:
d2.columns=["A","B","C","D","E","F","G"]
d2

,A,B,C,D,E,F,G
2021-01-25,0.536839,0.669963,0.510143,0.504052,0.890053,0.713056,0.120242
2021-01-26,0.256097,0.598645,0.979299,0.731586,0.553136,0.622468,0.510076
2021-01-27,0.593627,0.247280,0.691053,0.573173,0.895604,0.994609,0.767999
2021-01-28,0.842748,0.207937,0.531200,0.800939,0.959965,0.749845,0.499294
2021-01-29,0.468480,0.319052,0.161810,0.696497,0.629346,0.382051,0.591774
2021-01-30,0.051444,0.864437,0.744167,0.586380,0.379767,0.943091,0.897034
2021-01-31,0.130559,0.343735,0.700431,0.051256,0.570728,0.604157,0.492844

In [7]:
import statistics as st

In [8]:
st.mean(d2['C']) ##average

0.6168718428703114

In [9]:
##return average of 2 middle numbers when length is even
a=np.array([1,2,3,4,5,6,7,8])
st.median(a)

4.5

In [10]:
st.median_low(a) ##low median of data with even length

4

In [11]:
st.median_high(a) ## high median of data with even length

5

In [12]:
##mode of dataset
st.mode(d2["C"])

0.5101426675770896

### variance

In [ ]:
## sum of squared distance each term in the distribution from mean divided by the number of terms in the distribution from this you subtract the square of the mean

In [13]:
st.variance(d2["C"])

0.0643090317855976

### population variance

In [ ]:
###population variance is measure of spread of population data

In [14]:
st.pvariance(d2["C"])

0.05512202724479794

### STANDARED DEVIATION

In [15]:
st.stdev(d2["B"]) ### SAMPLE STANDARED DEVIATION

0.24796101593841408

In [16]:
st.pstdev(d2["B"]) ### population standard deviation

0.22956729251580574

### merge dataframe

In [18]:
d=pd.DataFrame({"id":[1,2,3,4],"Name":["divya","karan","jyothi","kiran"]})
d

   id    Name
0   1   divya
1   2   karan
2   3  jyothi
3   4   kiran

In [19]:
d1=pd.DataFrame({"id":[1,3,5,6],"Name":["div","kirthi","joy","shivani"]})
d1

   id     Name
0   1      div
1   3   kirthi
2   5      joy
3   6  shivani

In [20]:
###inner join
pd.merge(d,d1,on="id",how="inner") ### common value in both frame will print

   id  Name_x  Name_y
0   1   divya     div
1   3  jyothi  kirthi

In [21]:
### full outer join
pd.merge(d,d1,on="id",how="outer") ##print all data in both dataframe but which id not in it will sjow NAN

   id  Name_x   Name_y
0   1   divya      div
1   2   karan      NaN
2   3  jyothi   kirthi
3   4   kiran      NaN
4   5     NaN      joy
5   6     NaN  shivani

In [22]:
d

   id    Name
0   1   divya
1   2   karan
2   3  jyothi
3   4   kiran

In [23]:
d1

   id     Name
0   1      div
1   3   kirthi
2   5      joy
3   6  shivani

In [24]:
###LEFT OUTER JOIN
pd.merge(d,d1,on="id",how="left") ##show values in left show nan that no

   id  Name_x  Name_y
0   1   divya     div
1   2   karan     NaN
2   3  jyothi  kirthi
3   4   kiran     NaN

In [25]:
###right outer join
pd.merge(d,d1,on="id",how="right")

   id  Name_x   Name_y
0   1   divya      div
1   3  jyothi   kirthi
2   5     NaN      joy
3   6     NaN  shivani

### dealing with null values

In [26]:
date3=pd.date_range(start="2021-01-25",periods=7)
date3

DatetimeIndex(['2021-01-25', '2021-01-26', '2021-01-27', '2021-01-28',
               '2021-01-29', '2021-01-30', '2021-01-31'],
              dtype='datetime64[ns]', freq='D')

In [27]:
r=np.random.random((7,7))
r

array([[0.07732244, 0.34117306, 0.09330585, 0.35050408, 0.24462808,
        0.9520408 , 0.84704276],
       [0.44906088, 0.98557468, 0.50870661, 0.67990778, 0.43589339,
        0.16055437, 0.29634923],
       [0.25761406, 0.17536259, 0.37009646, 0.32849414, 0.40776071,
        0.4054478 , 0.76406315],
       [0.74265604, 0.90992889, 0.83176247, 0.30943712, 0.96377613,
        0.99020969, 0.65949892],
       [0.37040476, 0.83368381, 0.69678148, 0.30928369, 0.23048208,
        0.70344641, 0.64463606],
       [0.543591  , 0.00219126, 0.87733312, 0.21039707, 0.28477683,
        0.56791287, 0.05632658],
       [0.97167245, 0.47518778, 0.76812994, 0.70974571, 0.08271093,
        0.75997173, 0.95207788]])

In [28]:
d2=pd.DataFrame(r,date3)
d2

,0,1,2,3,4,5,6
2021-01-25,0.077322,0.341173,0.093306,0.350504,0.244628,0.952041,0.847043
2021-01-26,0.449061,0.985575,0.508707,0.679908,0.435893,0.160554,0.296349
2021-01-27,0.257614,0.175363,0.370096,0.328494,0.407761,0.405448,0.764063
2021-01-28,0.742656,0.909929,0.831762,0.309437,0.963776,0.990210,0.659499
2021-01-29,0.370405,0.833684,0.696781,0.309284,0.230482,0.703446,0.644636
2021-01-30,0.543591,0.002191,0.877333,0.210397,0.284777,0.567913,0.056327
2021-01-31,0.971672,0.475188,0.768130,0.709746,0.082711,0.759972,0.952078

In [29]:
d2.columns=["A","B","C","D","E","F","G"]
d2

,A,B,C,D,E,F,G
2021-01-25,0.077322,0.341173,0.093306,0.350504,0.244628,0.952041,0.847043
2021-01-26,0.449061,0.985575,0.508707,0.679908,0.435893,0.160554,0.296349
2021-01-27,0.257614,0.175363,0.370096,0.328494,0.407761,0.405448,0.764063
2021-01-28,0.742656,0.909929,0.831762,0.309437,0.963776,0.990210,0.659499
2021-01-29,0.370405,0.833684,0.696781,0.309284,0.230482,0.703446,0.644636
2021-01-30,0.543591,0.002191,0.877333,0.210397,0.284777,0.567913,0.056327
2021-01-31,0.971672,0.475188,0.768130,0.709746,0.082711,0.759972,0.952078

In [34]:
d2.iat[0,3]=np.NAN

In [35]:
d2

,A,B,C,D,E,F,G
2021-01-25,0.077322,0.341173,0.093306,NaN,0.244628,0.952041,0.847043
2021-01-26,0.449061,0.985575,0.508707,0.679908,0.435893,0.160554,0.296349
2021-01-27,0.257614,0.175363,0.370096,0.328494,0.407761,0.405448,0.764063
2021-01-28,0.742656,0.909929,0.831762,0.309437,0.963776,0.990210,0.659499
2021-01-29,0.370405,0.833684,0.696781,0.309284,0.230482,0.703446,0.644636
2021-01-30,0.543591,0.002191,0.877333,0.210397,0.284777,0.567913,0.056327
2021-01-31,0.971672,0.475188,0.768130,0.709746,0.082711,0.759972,0.952078

In [36]:
d2.iat[1,2]=np.NAN
d2

,A,B,C,D,E,F,G
2021-01-25,0.077322,0.341173,0.093306,NaN,0.244628,0.952041,0.847043
2021-01-26,0.449061,0.985575,NaN,0.679908,0.435893,0.160554,0.296349
2021-01-27,0.257614,0.175363,0.370096,0.328494,0.407761,0.405448,0.764063
2021-01-28,0.742656,0.909929,0.831762,0.309437,0.963776,0.990210,0.659499
2021-01-29,0.370405,0.833684,0.696781,0.309284,0.230482,0.703446,0.644636
2021-01-30,0.543591,0.002191,0.877333,0.210397,0.284777,0.567913,0.056327
2021-01-31,0.971672,0.475188,0.768130,0.709746,0.082711,0.759972,0.952078

In [37]:
d2.iat[2,2]=np.NAN
d2

,A,B,C,D,E,F,G
2021-01-25,0.077322,0.341173,0.093306,NaN,0.244628,0.952041,0.847043
2021-01-26,0.449061,0.985575,NaN,0.679908,0.435893,0.160554,0.296349
2021-01-27,0.257614,0.175363,NaN,0.328494,0.407761,0.405448,0.764063
2021-01-28,0.742656,0.909929,0.831762,0.309437,0.963776,0.990210,0.659499
2021-01-29,0.370405,0.833684,0.696781,0.309284,0.230482,0.703446,0.644636
2021-01-30,0.543591,0.002191,0.877333,0.210397,0.284777,0.567913,0.056327
2021-01-31,0.971672,0.475188,0.768130,0.709746,0.082711,0.759972,0.952078

In [38]:
d2.iat[4,1]=np.NAN
d2

,A,B,C,D,E,F,G
2021-01-25,0.077322,0.341173,0.093306,NaN,0.244628,0.952041,0.847043
2021-01-26,0.449061,0.985575,NaN,0.679908,0.435893,0.160554,0.296349
2021-01-27,0.257614,0.175363,NaN,0.328494,0.407761,0.405448,0.764063
2021-01-28,0.742656,0.909929,0.831762,0.309437,0.963776,0.990210,0.659499
2021-01-29,0.370405,NaN,0.696781,0.309284,0.230482,0.703446,0.644636
2021-01-30,0.543591,0.002191,0.877333,0.210397,0.284777,0.567913,0.056327
2021-01-31,0.971672,0.475188,0.768130,0.709746,0.082711,0.759972,0.952078

In [39]:
d2.iat[4,4]=np.NAN
d2

,A,B,C,D,E,F,G
2021-01-25,0.077322,0.341173,0.093306,NaN,0.244628,0.952041,0.847043
2021-01-26,0.449061,0.985575,NaN,0.679908,0.435893,0.160554,0.296349
2021-01-27,0.257614,0.175363,NaN,0.328494,0.407761,0.405448,0.764063
2021-01-28,0.742656,0.909929,0.831762,0.309437,0.963776,0.990210,0.659499
2021-01-29,0.370405,NaN,0.696781,0.309284,NaN,0.703446,0.644636
2021-01-30,0.543591,0.002191,0.877333,0.210397,0.284777,0.567913,0.056327
2021-01-31,0.971672,0.475188,0.768130,0.709746,0.082711,0.759972,0.952078

In [40]:
##detect non missing values
d2.notna() ##it will return true for not null false for null value

               A      B      C      D      E     F     G
2021-01-25  True   True   True  False   True  True  True
2021-01-26  True   True  False   True   True  True  True
2021-01-27  True   True  False   True   True  True  True
2021-01-28  True   True   True   True   True  True  True
2021-01-29  True  False   True   True  False  True  True
2021-01-30  True   True   True   True   True  True  True
2021-01-31  True   True   True   True   True  True  True

In [41]:
d2.isna() ##detect missing null values
### it will return true for null values and false for not null

                A      B      C      D      E      F      G
2021-01-25  False  False  False   True  False  False  False
2021-01-26  False  False   True  False  False  False  False
2021-01-27  False  False   True  False  False  False  False
2021-01-28  False  False  False  False  False  False  False
2021-01-29  False   True  False  False   True  False  False
2021-01-30  False  False  False  False  False  False  False
2021-01-31  False  False  False  False  False  False  False

In [42]:
d2=d2.fillna("102") ## null value will fill with 102
d2

,A,B,C,D,E,F,G
2021-01-25,0.077322,0.341173,0.093306,102,0.244628,0.952041,0.847043
2021-01-26,0.449061,0.985575,102,0.679908,0.435893,0.160554,0.296349
2021-01-27,0.257614,0.175363,102,0.328494,0.407761,0.405448,0.764063
2021-01-28,0.742656,0.909929,0.831762,0.309437,0.963776,0.990210,0.659499
2021-01-29,0.370405,102,0.696781,0.309284,102,0.703446,0.644636
2021-01-30,0.543591,0.002191,0.877333,0.210397,0.284777,0.567913,0.056327
2021-01-31,0.971672,0.475188,0.76813,0.709746,0.082711,0.759972,0.952078

In [47]:
d2.iat[2,5]=np.NaN
d2.iat[0,5]=np.NAN
d2

,A,B,C,D,E,F,G
2021-01-25,0.077322,0.341173,0.093306,102,0.244628,NaN,0.847043
2021-01-26,0.449061,0.985575,102,0.679908,0.435893,0.160554,0.296349
2021-01-27,0.257614,0.175363,102,0.328494,0.407761,NaN,0.764063
2021-01-28,0.742656,0.909929,0.831762,0.309437,0.963776,0.990210,0.659499
2021-01-29,0.370405,102,0.696781,0.309284,102,0.703446,0.644636
2021-01-30,0.543591,0.002191,0.877333,0.210397,0.284777,0.567913,0.056327
2021-01-31,0.971672,0.475188,0.76813,0.709746,0.082711,0.759972,0.952078

In [51]:
d2=d2.fillna(value={"F":122,"G":125})
d2

,A,B,C,D,E,F,G
2021-01-25,0.077322,0.341173,0.093306,102,0.244628,122.000000,0.847043
2021-01-26,0.449061,0.985575,102,0.679908,0.435893,0.160554,0.296349
2021-01-27,0.257614,0.175363,102,0.328494,0.407761,122.000000,0.764063
2021-01-28,0.742656,0.909929,0.831762,0.309437,0.963776,0.990210,0.659499
2021-01-29,0.370405,102,0.696781,0.309284,102,0.703446,0.644636
2021-01-30,0.543591,0.002191,0.877333,0.210397,0.284777,0.567913,0.056327
2021-01-31,0.971672,0.475188,0.76813,0.709746,0.082711,0.759972,0.952078

In [54]:
d2.dropna()
##null value will eliminate

,A,B,C,D,E,F,G
2021-01-25,0.077322,0.341173,0.093306,102,0.244628,122.000000,0.847043
2021-01-26,0.449061,0.985575,102,0.679908,0.435893,0.160554,0.296349
2021-01-27,0.257614,0.175363,102,0.328494,0.407761,122.000000,0.764063
2021-01-28,0.742656,0.909929,0.831762,0.309437,0.963776,0.990210,0.659499
2021-01-29,0.370405,102,0.696781,0.309284,102,0.703446,0.644636
2021-01-30,0.543591,0.002191,0.877333,0.210397,0.284777,0.567913,0.056327
2021-01-31,0.971672,0.475188,0.76813,0.709746,0.082711,0.759972,0.952078